body{
    background-color: #343a40;
    height: 100vh;  
    width: 100vw;
}
.container {
   margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
   
.floatright {
    margin-left: 500px;
    margin-bottom: 20px;
   
}
.photo-list-container {
    margin-bottom: 20px;
}
.photo-list img {
    width:200px ;
   
}
.photo-list h3 {
  font-size: 25px;
  color: #fff;
}
.photo-list p {
    font-size: 20px;
    color: #fff;
  }
  
