
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh ;
    justify-content: center;
}
h1 {
    font-size: 150px;
    color: rgb(243, 171, 14);
}
span{
    float: right;
    color: rgb(243, 171, 14);
}